/*

FONT/TEXT: 
h1: Battambang
Text: Jost 100
Links: Jost (bolder)

COLOR PALETTE
Background Color: #FEFBF7
Slightly darker bg-color: #FFF3E0, #FDF2E2
Text: #2D2B2B
Icons, buttons, other accents: #D39738, w #FFF text
Secondary text: #9D968B

 */
/* --------------------- App --------------------- */
:root {
  /* Prev:  */
  /* --bg-color: #FEFBF7;
  --darker-bg-color: #FDF2E2;
  --alt-darker-bg-color: #FDF2E2;
  --text-color: #2D2B2B;
  --accent-color: #D39738;
  --accent-color-hover: #D39738e3;
  --accent-text-color: #FFF;
  --secondary-text-color: #9D968B;
  --title-font: 'Battambang';
  --text-font: 'Jost';
  --h3-font: 'Jost';
  --h3-font-weight: 300; */
  /* New:  */
  --bg-color: #EFE9E4;
  --darker-bg-color: #EFE9E4;
  --alt-darker-bg-color: #FDF2E2;
  --text-color: #2D2B2B;
  --accent-color: #DB8D35;
  --accent-color-hover: #D39738e3;
  --accent-text-color: #FFF;
  --secondary-text-color: #9D968B;
  --title-font: 'Battambang';
  --text-font: 'Jost';
  --h3-font: 'Jost';
  --h3-font-weight: 300;
  --green: #829566;
  --orange: #DB8D35;
  --red: #A83027;
  --white: #FFF;

  /* Dark Mode*/
  --dark-bg-color: #464647;
  --dark-green: #829566;
  --dark-red: #C24940;
  --dark-orange: #DB8D35;
  --dark-white: #FFF;

}

.home-container h1 {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 50px;
}

h1 {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 45px;
}

h2 {
  /* font-family: var(--h3-font);
  font-weight: var(--h3-font-weight); */
  font-family: 'Jost';
  font-weight: 400;
  font-size: 30px;
  /* line-height: 10%; */
}

h3 {
  font-family: 'Jost';
  font-weight: 300;
  font-size: 25px;
}
div {
  font-family: 'Jost';
}


html,
body, :root {
  height: 0%;
  margin: 0;
  /* justify-content: center; */
  /* background-color: #FEFBF7; */
  background-color: var(--bg-color);
  /* display: flex;
  flex-direction: column;
  justify-content: space-around */
}

.app-header {
  /* border-bottom: .5px solid var(--secondary-text-color); */
  /* background-color: var(--darker-bg-color); */
    /* background-color: var(--text-color); */
  color: #EFE9E4;
}

header {
  border-bottom: .5px solid var(--secondary-text-color);
  background-color: var(--dark-bg-color);
  margin: -27px;
  padding: 10px;
  color: #EFE9E4;
  /* width: 100%; */
}

.logo {
  /* background-color: var(--darker-bg-color); */
  margin-left: 28px;
}

/* Entire App */
.app {
  height: auto;
  flex: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: var(--text-color);
  /* border: 2px solid black; */
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 100px;
  padding-left: 4rem;
  /* width: 100%; */
}

/* Logo */
.logo {
  font-family: 'Battambang';
  font-weight: 100;
  font-size: 50px;

}

.vector-icons {
  height: 150px;
}
/* --------------------- LOG-IN PAGE --------------------- */
.log-in-div {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
/* Log in logo */
.log-in-div h1 {
  font-family: 'Battambang';
  font-weight: 100;
  font-size: 80px;
}
/* --------------------- NAVBAR --------------------- */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  color: #EFE9E4;
}

.nav-a {
  font-family: 'Jost';
  color: var(--bg-color);
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
}

.navbar-nav a:hover,
.navbar-nav a:active
{
  color: var(--accent-color);
  text-decoration:none;
}

/* .nav-link:hover {
  color: var(--accent-color);
} */
/* --------------------- AUTH0 --------------------- */
.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

/* logout btn hover effects */
.login-btn {
  font-size: 1.8rem;
  background:#000000;  
  background: -webkit-linear-gradient(to right, #403D3D, #403D3D);  
  background: linear-gradient(to right, #403D3D, #403D3D); 
  padding: 20px 40px;
  /* padding: 50% 100%; */
  border: none;
  border-radius: 4px;
  /* margin-top: 1rem; */
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  color:white;
  font-family: 'Jost';
  font-weight: 700px;
  width: 200px;
  height: 75px;
}

.login-btn span {
  position: relative;
  z-index: 100;
  color: var(--accent-text-color);
  text-decoration: none;
}

.login-btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  transition: all 0.35s;
  border-radius: 4px;
  color:var(--accent-text-color) !important;
}

.login-btn:hover:after {
  width: 100%;
}

/* --------------------- HOME PAGE --------------------- */

.home-container {
  width: 1000px;
}
/* Meal Check-In Section of home page */
/* First section of the home page: menu buttons and top 5 recipes */
.home-section-1 {
  display: flex;
  flex-direction: row;
  max-width: 800px;
}
.home-section-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 40px;
}
.user-diet-info {
  border-bottom: 1px var(--text-color) solid;
  margin-bottom: 10px;
  padding: 20px;
  width: 425px;
}

.diet-info-input {
  background-color: var(--accent-text-color);
}
/* Recent 5 Recipe Cards */
/* Div for cards */
.five-recent-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

/* A Single Card */
.recent-card {
  /* display: flex;
  flex-direction: row;
  background-color: var(--white);
  color: (var(--text-color));
  max-height: 200px;
  margin-bottom: 1rem;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
  min-width: 100%; */
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  color: (var(--text-color));
  max-height: 150px;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 450px;
  border-radius: 10px;
  align-items: center;
}

.recent-card:hover {
  cursor: pointer;
  background-color: #9d968b48;
}

.five-recent-info {
  /* padding: 10px; */
}

.five-card-times {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.recipe-list-card-title {
  /* margin-top: 20px; */
}
.recent-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
}

.recent-card-img img {
  min-width: 100px;
  max-width: 200px;
  height: auto;
}

/* Section 2: Current dietary preferences, restrictions, allergies */

/* Section 3: Food Log */

.meal-check-in-div {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  /* align-items: center; */
  padding-left: 20px;
  padding-right: 20px;
}

.filter-foods input, .log-meal-input, .log-meal-notes, .recipe-search-input, input {
  font-size: 20px;
  margin-bottom: 14px;
  border: 1px solid var(--secondary-text-color);
  font-family: var(--text-font);
  font-weight: 300;
  padding: 5px;
  margin-top: 10px;
}

.selectedEntry {
  background-color: var(--orange);
}

.check-in-text {
  font-size: 28px;
  font-family: var(--text-font);
  font-weight: 300;
  margin-bottom: 30px;
}

.log-submit-btn, .recipes-form-btn {
  width: 40%;
  height: 35px;
  background-color: var(--accent-color);
}

.log-submit-btn:hover, .recipes-form-btn:hover, .add-new-collection-btn:hover {
  cursor: pointer;
  color: white;
}

.add-new-collection-btn {
  margin-top: 12px;
  background-color: var(--accent-color);
}
.check-in-btns-p {
  text-align: center;
}

.check-in-btn {
  font-size: 50px;
  line-height: 30%;
}

.check-in-btn:hover, .ing-btn:hover {
  cursor: pointer;
  background-color: #d3973892;
}

.select-one-text {
  color: var(--secondary-text-color);
}
.logs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
}

.diet-entry {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 230px;
  margin-right: 15px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
  overflow:hidden;
  color: var(--text-color);
}

.logs-div .good-entry {
  background-color: #8295667c;
}

.logs-div .ok-entry {
  background-color: #d3973892;
}

.logs-div .bad-entry {
  background-color: #a8302767;
}

.diet-entry-date {
  text-align: center;
  margin-bottom: 5px;
}

.diet-entry .feeling-icon {
  font-size: 50px;
  line-height: 0px;
  text-align: center;
}

.good-date {
  color: var(--green);
  font-family: var(--text-font);
  font-weight: 400;
}

.ok-date {
  color: var(--orange);
  font-family: var(--text-font);
  font-weight: 400;
}

.bad-date {
  color: var(--red);
  font-family: var(--text-font);
  font-weight: 400;
}

.diet-entry-notes {
  max-height: 75px;
  overflow-y: scroll;
}

.feeling-cells-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 20px;
}

.feeling-cells {
  border: 1px black solid;
  height: 20px;
  width: 20px;
}

.good-cell {
  background-color: var(--green);
}
.ok-cell {
  background-color: var(--orange);
}
.bad-cell {
  background-color: var(--red);
}

.uncat-cell {
    background-color: var(--white);
}
/* --------------------- FOOD LIST --------------------- */
.food-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1000px;
  justify-content: space-between;


}

.nutrition-label-div {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  background-color: #FFF;
  border-radius: 10px;
}

.foods-div-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.food-cell {
  margin-right: 5px;
}
.food-list-div {
  /* border: 1px solid black; */
  /* background-color: #fde4bd; */
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
}

.food-btn-delete-div {
  display: flex;
 flex-direction: row;
}

.food-item-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 20px;
  position: relative;
  color: #FFF;
  /* text-shadow: 1px 1px black; */
  width: 200px;
  margin: 5px;
  border-radius: 4px;
}

.food-item-div:hover {
  cursor: pointer;
  opacity: .9;
}

.delete-food-item-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  height: 15px;
  width: 15px;
  padding: 2px;
  float: right;
  bottom: 0%;
  margin-left: -10px;
  margin-top: -7px;
  z-index: 1;
  border-radius: 100%;
  color: white;
  position: relative;
  /* top: 0;
  right: 0; */
}

.foods-btns-container {
 min-width: 200px;
}
.foods-btns-div {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* min-width: 100%; */
  /* max-width: 700px; */
  max-height: 400px;
  overflow-y: scroll;
  /* flex-wrap: wrap; */

}

/* Single Food View */
.food-item-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health-labels-list {
  max-height: 170px;
  overflow-y: scroll;
  width: 100%;
}

/* Single Food View */
.food-item-view-div {
  border: 2px solid black;
  max-width: 900px;
  min-width: 50%;
  padding: 20px;
  border-radius: 20px;
}
.food-item-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.close-btn {
  background-color: var(--secondary-text-color);
  border-radius: 4px;
  color: var(--accent-text-color);
  height: 100%;
  font-size: 30px;
}

.close-btn:hover {
  cursor: pointer;
}

/* Food Item Body with Notes and Nutrition Label */
.food-item-view-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.food-item-notes-box {
  border: 1px solid black;
  width: 220px;
  min-height: 150px;
  background-color: #FFF;
  padding: 20px;
  max-height: 150px;
  overflow-y: scroll;
}
/* Nutrition label */

.nutrition-label-header {
  border-bottom: 12px solid black;
}
.nutrition-label-div, .foot-item-notes-box {
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  max-height: 500px;
  overflow-y: scroll;
  /* min-width: 50%; */
  max-width: 75%;
}

.nutrition-label-div {
  padding: 0px 20px 20px 20px;
}

.nutrition-label-div p {
  max-height: 50%;
}
.nutrition-label-div h2 {
  border-bottom: 2px solid black;
  line-height: 100%;
}

.nutrition-label-title {
  font-size: 25px;
  /* line-height: 100%; */
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  padding-bottom: 20px;
  line-height: 100%;
}

.calories {
  font-size: 40px;
  line-height: 2%;
}

.nutrition-body {
  /* padding-top: 5px; */
}

/* Single Food View */
.food-item-view-div {
  border: 2px solid black;
  width: 800px;
  min-width: 50%;
  padding: 20px;
  border-radius: 20px;
}
.food-item-view-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 75%; */
}
.nutrition-line {
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  /* line-height: 100%; */
}


/* --------------------- MY RECIPE COLLECTIONS PAGE --------------------- */
.recipes-collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.recipes-collections-div {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

/* COLLECTIONS SECTION ---------------------*/
/* All Recipes and Uncategorized Recipes Buttons */
.collections-div {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* max-width: 75%; */
}

.recipes-btn {
  border: 1px solid black;
  padding: 5px;
  font-weight: 700;
}
/* Collections Search Scroll */
.collections-searchbar {
  border: 1px solid var(--text-color);
  padding: 10px;
}
.collections-searchbar input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
}
.collections-scroll-section {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  max-height: 170px;
  overflow-y: scroll;
}
.collection-bar {
  border-bottom: 1px solid var(--text-color);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 7px;
  padding-right: 7px;
  background-color: var(--white);
}

.collection-bar:hover {
  cursor: pointer;
  background-color: var(--accent-color-hover);
  color: var(--white);
}

/* RECIPES SECTION ---------------------*/
.recipes-div {
  /* border: 2px solid black; */
  width: 100%;
  /* min-width: 800px; */
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Recipes search bar + recipe form div */
.recipes-search-form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.recipes-searchbar {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 100%;
  border-radius: 4px;
  margin-left: 20px;
}

.recipe-search-input {
  width: 50%;
  margin-right: 20px;
}

.recipes-form-btn, .btn  {
  display: flex;
  flex-direction: column;
  /* border: 1px var(--accent-text-color) solid; */
  align-items: center;
  justify-content: center;
  /* background-color: var(--accent-color); */
  /* color: white; */
  border-radius: 4px;
  padding: 10px;
}

.recipes-form-btn,
.new-food-btn {
  width: 20%;
  min-width: 100px;
}

.new-food-btn, .delete-foods-btn, .recipes-view-info button {
  background-color: var(--dark-bg-color);
  color: var(--white);
  margin-bottom: 20px;
}

.recipes-view-info button:hover {
  cursor: pointer;
  color: var(--accent-color);
}
.new-food-btn:hover {
  color: var(--green);
}
.delete-foods-btn:hover {
  color: var(--red);
}

.recipes-form-btn:hover  {
  cursor: pointer;
  background-color: var(--accent-color-hover);
}

/* Recipe List Card Section  */
.recipe-list-cards-div {
  max-height: 700px;
  overflow-y: scroll;
}
.recipe-list-card-container {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  color: var(--text-color);
  max-height: 200px;
  margin-bottom: 1rem;
}

.recipe-list-card-icon-div {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.cook-icon, .prep-icon {
  font-size: 20px;
}

.recipe-list-card-container:hover {
  cursor: pointer;
  /* border: 2px solid var(--accent-color); */
  /* color: white; */
  /* background-color: #d3973892; */
  background-color: #9d968b48;
  /* color: black; */
  opacity: .9;

}

.recipe-list-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.recipe-list-card-img img {
  min-width: 300px;
  max-width: 200px;
  height: auto;
}

.recipe-icon {
  width: 25px !important;
  height: auto !important;
}

.recipe-list-card-details {
  display: flex;
  flex-direction: column; 
  margin-left: 50px;
}

.recipe-list-card-details p {
  max-height: 100%;
}

.recipe-list-card-collection-div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}

.recipe-list-card-collection-item {
  /* border: 1px solid var(--text-color); */
  padding: 3px 10px 3px 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 12px;
}
/* Single Recipe ---------------------*/
.single-recipe-container {
  display: flex;
  flex-direction: column;
  margin: 35px 10px 35px 10px;
  padding-bottom: 10px;
  width: 100%;
  align-content: center;
  align-items: center;
  /* max-width: 1000px; */
}

.recipe-header {
  /* margin-top: 10px; */
  width: 1000px;
}

.recipe-header span {
  font-family: 'Battambang';
  font-weight: 500;
  font-size: 47px;
}

.recipe-header h2 {
  font-family: 'Battambang';
  font-weight: 300;
  font-size: 25px;
}

.recipe-photo {
  float: left;
}

.recipe-header figcaption {
  font-size: 12px;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-name {
  width: auto;
  font-size: 26px;
}

.recipe-body {
  display: flex; 
  flex-direction: row;
  margin: 25px 0px 25px 0px;
  width: 1000px;
}

.recipe-body-left {
    border-top: 1px solid var(--secondary-text-color);
    /* border-bottom: 1px solid var(--secondary-text-color); */
    width: 70%;
}

.recipe-instructions {
  padding: 5px 25px 5px 25px;
  padding-bottom: 45px;
}

.recipe-instructions img {
  max-width: 100%;
}
.recipe-body-right {
  /* border: 1px black solid; */
  width: 30%;
  margin-left: 2.5%;
  border-radius: 10px;
}

.recipe-body-right button {
  border: 1px var(--darker-bg-color);
  background-color: var(--accent-color);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: -15px;
}
.recipe-servings-info {
  border: 1px var(--darker-bg-color);
  background-color: var(--accent-color);
  color: var(--white);
  padding: 5px 25px 25px 25px;
  border-radius: 10px;
  font-weight: 400;
}

.recipe-servings-info h2 {
  font-weight: 400;
}
.recipe-ingredients {
  border-top: 3px var(--dark-green) solid;
  padding: 10px;
}

.recipe-nutrition-label-container {
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.nutrition-label-header {
  border-bottom: 12px solid black;
}

.recipe-nutrition-label-container {
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  max-height: 500px;
  overflow-y: scroll;
  /* min-width: 50%; */
  max-width: 100%;
}

.recipe-nutrition-label-container {
  padding: 0px 20px 20px 20px;
}

.recipe-nutrition-label-container p {
  max-height: 50%;
}

.recipe-nutrition-label-container h2 {
  border-bottom: 2px solid black;
  line-height: 100%;
}

.nutrition-label-title {
  font-size: 20px;
  /* line-height: 100%; */
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  padding-bottom: 20px;
  line-height: 100%;
}

.nutrition-calories {
  font-size: 20px;
  line-height: 2%;
}

/* RECIPE-COLLECTIONS MULTIPLE SELECTION ---------------------*/

/* From the New Recipe Form: */
.new-recipe-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
.new-recipe-form-div {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  justify-content: space-evenly;
}
.small-recipe-inputs{
  display: flex;
  flex-direction: column;
  max-width: 75%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.required-asterisk {
  font-weight: 300;
  color: var(--red)
}
/* Inputs */
.recipe-name-input {
  font-size: 50px;
  font-family: var(--title-font);
}

.recipe-form-input-divs input {
  font-family: var(--text-font);
  font-size: 17px;
  margin-bottom: 15px;
}

textarea {
  width: 400px;
  height: 300px;
  font-family: var(--text-font);
  font-size: 17px;
}

.recipe-description-input {
  font-family: var(--text-font);
  width: 300px;
  height: 100px;
}

.submit-div {
  /* display: flex; */
  /* justify-content: center; */
}
.form-submit-btn  {
  margin-top: 20px;
  width: 400px;
  background-color: var(--accent-color);

}

.form-submit-btn:hover {
  cursor: pointer;
  color: #FFF;
}

.collections-selection {
  width: 450px;
}
.collections-selection-container {
  max-width: 100%;
  margin: 20px;
  border-radius: 5px;
}

.collections-selection-header {
 height: 30px;
}

.selected-collections-btns-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  max-width: 100%;
  min-height: 20px;
  background-color: white;
  padding: 5px;
}
.selected-collections-btns-div em {
  color: var(--secondary-text-color);
}

.selected-collection-btn {
  /* border: 1px solid var(--text-color); */
  border-radius: 3px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  max-height: auto;
}

.remove-collection-btn {
  border: 1px solid var(--secondary-text-color);
  color: var(--text-color);
  font-size: 11px;
}
.collections-selections-div {
  /* border: 1px solid red; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
  border-bottom: 1px solid var(--text-color);
}

.collection-select {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  /* background-color: black; */
  padding: 2px;
  background-color:var(--white);
  color: var(--text-color);
}

/* From the Single Recipe View: */
.recipe-collections-list-div {
  border-top: 1px solid var(--secondary-text-color);
}

.recipe-collections-list-cards-div {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.collections-cards-view {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: 10px;
  border-radius: 6px;
  /* border: 2px solid black; */
  margin: 1px 1px;
  /* -webkit-box-shadow: 10px 3px 8px #9D968B;
  -moz-box-shadow: 10px 3px 8px #9D968B;
  box-shadow: 10px 3px 8px #9D968B; */
}


/* --------------------- FOOTER --------------------- */
footer {
    /* border-bottom: .5px solid var(--secondary-text-color); */
    background-color: var(--darker-bg-color);
    /* margin: -27px; */
    padding-top: 150px;
}